#barra-navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#logo{
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-stretch: wider;
}
nav>a{
    text-decoration: nome;
    color: rgb(14, 14, 14);
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}
nav>a:hover{
    color:#2980b9;
}
#primera-seccion{
    background: linear-gradient( rgba(68, 68, 68, 0.259),rgba(57, 56, 56, 0.116)),url(Img/Historia.png) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: aliceblue;
}
/*SUBtema*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
}
header{
	width: 100%;
	height: 90px;
	background-color: #0b132b;
}
.interior{
	max-width: 100%;
	padding: 0 10px;
	margin: auto;
}
.logo{
	float: left;
	padding: 5px 20px 0;
}
.logo img{
	height: 50px;
}
.logo img:hover{
	transform: scale(1.1);
}
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2980b9;
	transform: scale(1.1);
}
.navegacion ul li:hover .hijos{
	display: block;
}
.navegacion .submenu .hijos{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .submenu .hijos li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .submenu .hijos li a{
	display: block;
    font-size: 10px;
}
/*Navegacion niveles*/
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #dee1e4;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2697cf;
	transform: scale(1.1);
}
.navegacion ul li:hover .Nivel{
	display: block;
}
.navegacion .Tercmenu .Nivel{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .Tercmenu .Nivel li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .Tercmenu .Nivel li a{
	display: block;
    font-size: 9px;
}
/*termina navegacion niveles*/
/*Navegacion servicios*/
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #dee1e4;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2697cf;
	transform: scale(1.1);
}
.navegacion ul li:hover .Nivel1{
	display: block;
}
.navegacion .Cuartmenu .Nivel1{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .Cuartmenu .Nivel1 li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .Cuartmenu .Nivel1 li a{
	display: block;
    font-size: 9px;
}
/*termina navegacion servicios*/
/*Navegacion aula virtual*/
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #dee1e4;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2697cf;
	transform: scale(1.1);
}
.navegacion ul li:hover .Nivel2{
	display: block;
}
.navegacion .Quintmenu .Nivel2{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .Quintmenu .Nivel2 li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .Quintmenu .Nivel2 li a{
	display: block;
    font-size: 9px;
}
/*termina navegacion aula virtual*/
/*Navegacion actividades*/
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #dee1e4;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2697cf;
	transform: scale(1.1);
}
.navegacion ul li:hover .Nivel3{
	display: block;
}
.navegacion .Sextmenu .Nivel3{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .Sextmenu .Nivel3 li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .Sextmenu .Nivel3 li a{
	display: block;
    font-size: 9px;
}
/*termina navegacion actividades*/
/*Navegacion Profesores ya */
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none; 
	padding: 0 10px; /*el espacio de relleno requerido por todos los lados*/
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #dee1e4;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px; /*el espacio de relleno requerido por todos los lados*/
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2697cf;
	transform: scale(1.1);
}
.navegacion ul li:hover .Nivel4{
	display: block;
}
.navegacion .Septimenu .Nivel4{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .Septimenu .Nivel4 li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .Septimenu .Nivel4 li a{
	display: block;
    font-size: 9px;
}
/*termina navegacion Profesores ya */
/*Navegacion Matriculate ya */
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none; 
	padding: 0 10px; /*el espacio de relleno requerido por todos los lados*/
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #dee1e4;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px; /*el espacio de relleno requerido por todos los lados*/
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2697cf;
	transform: scale(1.1);
}
.navegacion ul li:hover .Nivel5{
	display: block;
}
.navegacion .Octabomenu .Nivel5{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .Octabomenu .Nivel5 li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .Octabomenu .Nivel5 li a{
	display: block;
    font-size: 9px;
}
/*termina navegacion Matriculate ya */
/*Navegacion Login ya */
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none; 
	padding: 0 10px; /*el espacio de relleno requerido por todos los lados*/
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #dee1e4;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px; /*el espacio de relleno requerido por todos los lados*/
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2697cf;
	transform: scale(1.1);
}
.navegacion ul li:hover .Nivel5{
	display: block;
}
.navegacion .Novemenu .Nivel5{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .Novemenu .Nivel5 li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .Novemenu .Nivel5 li a{
	display: block;
    font-size: 9px;
}
/* comienza la segunda seccion */
/*Parte de historia */
body {
    margin: 0; /*margen de 0*/ /*el espacio de relleno requerido por todos los lados*/
}

main {
    display: block;
}
.title {
    font-size: 2.5rem;
    text-align: var(--align-title);
    color: var(--color-title);
}
::before, ::after {
    margin: 0; /*el espacio de relleno requerido por todos los lados*/
    box-sizing: border-box;
}
hr{
    background-color: black; /*Color del hr*/
    width: 60%; /*Tamaño de hr*/
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.title--border::after {
    content: "";
    display: block;
    width: 100px;
    margin-top: 20px;
    height: 4px;
    background-color: var(--color-primary);
}

*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
}
.about{
    display: grid;
    grid-template-columns: 5fr 4fr;
    place-items: center;
}

.aboutcourse{
    width: 90%;
}

.aboutparagraph{
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 300;
}

*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.aboutpicture{
    text-align: center;
}

.aboutimg{
    width: 200px;
    padding: 3px; /*Ayuda a mover la imagen de arriba para abajo con el PX*/
}

/* termina segunda seccion */
/*tercera seccion */
#tercera-seccion{
    background: linear-gradient( rgba(0,0,0,0.7),rgba(0,0,0,0.905)),url(Img/Historia.1.jpg) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 40px; /*el espacio de relleno requerido por todos los lados*/
}
#contenedor {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 40px; /*el espacio de relleno requerido por todos los lados*/
}
.mitad{
    width: 50%;
}
#tercera-seccion-der > h3 {
    text-transform: uppercase;
    font-family: "montaserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
#tercera-seccion-der >hr {
    width: 4.5rem;
    border-color: #2980b9;
    margin-left: 0;
    margin-bottom: 3rem;
}
#tercera-seccion-der >p {
    margin-bottom: 4rem;
}
/*Termina tercera seccion*/
/*Comienza la quinta seccion*/
#quinta-seccion-derecha{
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px 10 px;
    justify-items: center;
    align-items: center;
}
#quinta-seccion-derecha > img {
    max-width: 200%;
    justify-items: center;
    width: 150%;
}
#quinta-seccion-derecha > hr {
    width: 4.5rem;
    border-color: #2980b9;
    margin-left:0;
}
/*Termina la quinta seccion*/
/*Tercera Seccion*/
/* comienza la segunda seccion */
/*Parte del Nivel inicial */
body {
    margin: 0; /*margen de 0*/ /*el espacio de relleno requerido por todos los lados*/
}

main {
    display: block;
}
.title {
    font-size: 2.5rem;
    text-align: var(--align-title);
    color: var(--color-title);
}
::before, ::after {
    margin: 0; /*el espacio de relleno requerido por todos los lados*/
    box-sizing: border-box;
}
hr{
    background-color: black; /*Color del hr*/
    width: 60%; /*Tamaño de hr*/
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.title--border::after {
    content: "";
    display: block;
    width: 100px;
    margin-top: 20px;
    height: 4px;
    background-color: var(--color-primary);
}

*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
}
.about{
    display: grid;
    grid-template-columns: 5fr 4fr;
    place-items: center;
}

.aboutcourse{
    width: 90%;
}

.aboutparagraph{
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 300;
}

*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.aboutpicture{
    text-align: center;
}

.aboutimg{
    width: 200px;
    padding: 3px; /*Ayuda a mover la imagen de arriba para abajo con el PX*/
}
/* termina segunda seccion */

/* comienza footer*/
footer{
    background-color: black;
    color: #f4f5f9;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}