section.copy{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: center;
}

footer.main-footer{
    background-color: #292929;
    color: white;
    padding-top: 35px;
    padding-bottom: 35px;
}

aside.footer-widget{
    margin-bottom: 25px;
}

aside.footer-widget h5{
    font-size: 18px;
}

aside.footer-widget ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

aside.footer-widget ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #adadad;
    display: inline-block;
    margin-bottom: 5px;
}