#barra-navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#logo{
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-stretch: wider;
}
nav>a{
    text-decoration: nome;
    color: rgb(14, 14, 14);
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}
nav>a:hover{
    color:#2980b9;
}
#primera-seccion{
    background: linear-gradient( rgba(68, 68, 68, 0.259),rgba(57, 56, 56, 0.116)),url(Img/Horario.png) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: aliceblue;
}
/*SUBtema*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
}
header{
	width: 100%;
	height: 90px;
	background-color: #0b132b;
}
.interior{
	max-width: 100%;
	padding: 0 10px;
	margin: auto;
}
.logo{
	float: left;
	padding: 5px 20px 0;
}
.logo img{
	height: 50px;
}
.logo img:hover{
	transform: scale(1.1);
}
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2980b9;
	transform: scale(1.1);
}
.navegacion ul li:hover .hijos{
	display: block;
}
.navegacion .submenu .hijos{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .submenu .hijos li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .submenu .hijos li a{
	display: block;
    font-size: 10px;
}
/*Navegacion niveles*/
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #dee1e4;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2697cf;
	transform: scale(1.1);
}
.navegacion ul li:hover .Nivel{
	display: block;
}
.navegacion .Tercmenu .Nivel{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .Tercmenu .Nivel li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .Tercmenu .Nivel li a{
	display: block;
    font-size: 9px;
}
/*termina navegacion niveles*/
/*Navegacion servicios*/
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #dee1e4;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2697cf;
	transform: scale(1.1);
}
.navegacion ul li:hover .Nivel1{
	display: block;
}
.navegacion .Cuartmenu .Nivel1{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .Cuartmenu .Nivel1 li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .Cuartmenu .Nivel1 li a{
	display: block;
    font-size: 9px;
}
/*termina navegacion servicios*/
/*Navegacion aula virtual*/
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #dee1e4;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2697cf;
	transform: scale(1.1);
}
.navegacion ul li:hover .Nivel2{
	display: block;
}
.navegacion .Quintmenu .Nivel2{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .Quintmenu .Nivel2 li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .Quintmenu .Nivel2 li a{
	display: block;
    font-size: 9px;
}
/*termina navegacion aula virtual*/
/*Navegacion actividades*/
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #dee1e4;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2697cf;
	transform: scale(1.1);
}
.navegacion ul li:hover .Nivel3{
	display: block;
}
.navegacion .Sextmenu .Nivel3{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .Sextmenu .Nivel3 li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .Sextmenu .Nivel3 li a{
	display: block;
    font-size: 9px;
}
/*termina navegacion actividades*/
/*Navegacion Profesores ya */
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none; 
	padding: 0 10px; /*el espacio de relleno requerido por todos los lados*/
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #dee1e4;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px; /*el espacio de relleno requerido por todos los lados*/
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2697cf;
	transform: scale(1.1);
}
.navegacion ul li:hover .Nivel4{
	display: block;
}
.navegacion .Septimenu .Nivel4{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .Septimenu .Nivel4 li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .Septimenu .Nivel4 li a{
	display: block;
    font-size: 9px;
}
/*termina navegacion Profesores ya */
/*Navegacion Matriculate ya */
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none; 
	padding: 0 10px; /*el espacio de relleno requerido por todos los lados*/
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #dee1e4;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px; /*el espacio de relleno requerido por todos los lados*/
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2697cf;
	transform: scale(1.1);
}
.navegacion ul li:hover .Nivel5{
	display: block;
}
.navegacion .Octabomenu .Nivel5{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .Octabomenu .Nivel5 li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .Octabomenu .Nivel5 li a{
	display: block;
    font-size: 9px;
}
/*termina navegacion Matriculate ya */
/*Navegacion Login ya */
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none; 
	padding: 0 10px; /*el espacio de relleno requerido por todos los lados*/
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #dee1e4;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px; /*el espacio de relleno requerido por todos los lados*/
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #2697cf;
	transform: scale(1.1);
}
.navegacion ul li:hover .Nivel5{
	display: block;
}
.navegacion .Novemenu .Nivel5{
	display: none;
	background: #297fb98e;
	position: absolute;
	width: 100%;
}
.navegacion .Novemenu .Nivel5 li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .Novemenu .Nivel5 li a{
	display: block;
    font-size: 9px;
}
/*Parte de horario */
body {
    margin: 0; /*margen de 0*/ /*el espacio de relleno requerido por todos los lados*/
}

main {
    display: block;
}
.title {
    font-size: 2.5rem;
    text-align: var(--align-title);
    color: var(--color-title);
}
::before, ::after {
    margin: 0; /*el espacio de relleno requerido por todos los lados*/
    box-sizing: border-box;
}
hr{
    background-color: black; /*Color del hr*/
    width: 60%; /*Tama単o de hr*/
	padding: 1px;
	margin-top: 5px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.title--border::after {
    content: "";
    display: block;
    width: 50px;
    margin-top: 10px;
    height: 2px;
    background-color: var(--color-primary);
}

*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
}
.about{
    display: grid;
    grid-template-columns: 5fr 4fr;
    place-items: center;
}

.aboutcourse{
    width: 90%;
}

.aboutparagraph{
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 300;
}

*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.aboutpicture{
    text-align: center;
}

.aboutimg{
    width: 200px;
    padding: 3px; /*Ayuda a mover la imagen de arriba para abajo con el PX*/
}
/*Parte link*/
    /* Ejemplo de selectores largos: NO recomendable */

    .container1{
        width: 600px;
        height: 100px;
        overflow: hidden;
        margin: 5px auto 5px;
        background: #FFF;
    }
    
    /*Botones*/
    
    a.boton{
        display: inline-block;
        padding: 10px 50px; /*Tama単o de los botenes */
        color: #FFF;
        margin: 4px;
        border-radius: 1px;
        text-decoration: none;
        transition: all .3s ease-in;
    }
    
    /*Colores*/
    
    .rojo{background: #e74c3c; box-shadow: 0 -5px #c0392b inset;}
    .rojo:hover{box-shadow: 0 -44px #c0392b inset;}
    
    .celeste{background: #3498db; box-shadow: 0 -5px #2980b9 inset;}
    .celeste:hover{box-shadow: 0 -44px #2980b9 inset;}
    
    .amethyst{background: #9b59b6; box-shadow: 0 -5px #8e44ad inset;}
    .amethyst:hover{box-shadow: 0 -44px #8e44ad inset;}
    
    .azul{background: #34495e; box-shadow: 0 -5px #2c3e50 inset;}
    .azul:hover{box-shadow: 0 -44px #2c3e50 inset;}
    
    .esmeralda{background: #2ecc71; box-shadow: 0 -5px #27ae60 inset;}
    .esmeralda:hover{box-shadow: 0 -44px #27ae60 inset;}
    
    /*Colores*/
    body {
        margin: 0; /*margen de 0*/ /*el espacio de relleno requerido por todos los lados*/
    }
    
    main {
        display: block;
    }
    .title {
        font-size: 2.5rem;
        text-align: var(--align-title);
        color: var(--color-title);
    }
    ::before, ::after {
        margin: 0; /*el espacio de relleno requerido por todos los lados*/
        box-sizing: border-box;
    }
    hr{
        background-color: black; /*Color del hr*/
        width: 60%; /*Tama単o de hr*/
        padding: 1px;
        margin-top: 5px;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    .title--border::after {
        content: "";
        display: block;
        width: 50px;
        margin-top: 10px;
        height: 2px;
        background-color: var(--color-primary);
    }
    
    *, ::before, ::after {
        margin: 0;
        box-sizing: border-box;
    }
    .about{
        display: grid;
        grid-template-columns: 5fr 4fr;
        place-items: center;
    }
    
    .aboutcourse{
        width: 90%;
    }
    
    .aboutparagraph{
        margin: 20px 0;
        line-height: 1.5;
        font-weight: 300;
    }
    
    *, ::before, ::after {
        margin: 0;
        box-sizing: border-box;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .aboutpicture{
        text-align: center;
    }
    
    .aboutimg{
        width: 200px;
        padding: 3px; /*Ayuda a mover la imagen de arriba para abajo con el PX*/
    }
    /*Primaria*/
    .container2{
        width: 1200px;
        height: auto;
        overflow: hidden;
        margin: 20px auto 20px;
        background: #FFF;
    }
    
    /*Botones*/
    
    a.boton{
        display: inline-block;
        padding: 10px 50px;
        color: #FFF;
        margin: 10px;
        border-radius: 6px;
        text-decoration: none;
        transition: all .3s ease-in;
    }
    
    /*Colores*/
    
    .rojo2{background: #e74c3c; box-shadow: 0 -5px #c0392b inset;}
    .rojo2:hover{box-shadow: 0 -44px #c0392b inset;}
    
    .celeste2{background: #3498db; box-shadow: 0 -5px #2980b9 inset;}
    .celeste2:hover{box-shadow: 0 -44px #2980b9 inset;}
    
    .amethyst2{background: #9b59b6; box-shadow: 0 -5px #8e44ad inset;}
    .amethyst2:hover{box-shadow: 0 -44px #8e44ad inset;}
    
    .azul2{background: #34495e; box-shadow: 0 -5px #2c3e50 inset;}
    .azul2:hover{box-shadow: 0 -44px #2c3e50 inset;}
    
    .esmeralda2{background: #2ecc71; box-shadow: 0 -5px #27ae60 inset;}
    .esmeralda2:hover{box-shadow: 0 -44px #27ae60 inset;}
    
    /*Colores*/
    body {
        margin: 0; /*margen de 0*/ /*el espacio de relleno requerido por todos los lados*/
    }
    
    main {
        display: block;
    }
    .title {
        font-size: 2.5rem;
        text-align: var(--align-title);
        color: var(--color-title);
    }
    ::before, ::after {
        margin: 0; /*el espacio de relleno requerido por todos los lados*/
        box-sizing: border-box;
    }
    hr{
        background-color: black; /*Color del hr*/
        width: 60%; /*Tama単o de hr*/
        padding: 1px;
        margin-top: 5px;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    .title--border::after {
        content: "";
        display: block;
        width: 50px;
        margin-top: 10px;
        height: 2px;
        background-color: var(--color-primary);
    }
    
    *, ::before, ::after {
        margin: 0;
        box-sizing: border-box;
    }
    .about{
        display: grid;
        grid-template-columns: 5fr 4fr;
        place-items: center;
    }
    
    .aboutcourse{
        width: 90%;
    }
    
    .aboutparagraph{
        margin: 20px 0;
        line-height: 1.5;
        font-weight: 300;
    }
    
    *, ::before, ::after {
        margin: 0;
        box-sizing: border-box;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .aboutpicture{
        text-align: center;
    }
    
    .aboutimg{
        width: 200px;
        padding: 3px; /*Ayuda a mover la imagen de arriba para abajo con el PX*/
    }
    /*Secundaria*/
    .container3{
        width: 951px;
        height: auto;
        overflow: hidden;
        margin: 20px auto 20px;
        background: #FFF;
    }
    
    /*Botones*/
    
    a.boton{
        display: inline-block;
        padding: 10px 50px;
        color: #FFF;
        margin: 10px;
        border-radius: 6px;
        text-decoration: none;
        transition: all .3s ease-in;
    }
    
    /*Colores*/
    
    .rojo3{background: #e74c3c; box-shadow: 0 -5px #c0392b inset;}
    .rojo3:hover{box-shadow: 0 -44px #c0392b inset;}
    
    .celeste3{background: #3498db; box-shadow: 0 -5px #2980b9 inset;}
    .celeste3:hover{box-shadow: 0 -44px #2980b9 inset;}
    
    .amethyst3{background: #9b59b6; box-shadow: 0 -5px #8e44ad inset;}
    .amethyst3:hover{box-shadow: 0 -44px #8e44ad inset;}
    
    .azul3{background: #34495e; box-shadow: 0 -5px #2c3e50 inset;}
    .azul3:hover{box-shadow: 0 -44px #2c3e50 inset;}
    
    .esmeralda3{background: #2ecc71; box-shadow: 0 -5px #27ae60 inset;}
    .esmeralda3:hover{box-shadow: 0 -44px #27ae60 inset;}
    
    /*Colores*/
    
    /*Botones*/
    /*Botones*/
  /* comienza footer*/

  footer{
    background-color: black;
    color: #f4f5f9;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}